body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie_detail{
    display: inline-block;
    margin: 100px;
    padding: 100px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px 4px 8px darkgray;
    text-align: center;
    
}



.details {
    display: block;
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imgs {
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 6px darkgray;
}


