@keyframes fadeOut {
    to {
        opacity: 0;
    } from {
        opacity: 1;
    }
}
@keyframes fadeIn{
    to {
        opacity: 1;
    } from {
        opacity: 0;
    }
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: honeydew;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 1.7s linear;
    font-size: 30px;
    font-weight: 700;
    position: relative;
}

.movies {
   display: flex;
   align-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.movies .movie_movies {
    display: flex;
}





